*.md linguist-documentation=false
*.md linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
*.mts linguist-detectable=true

docs/.vitepress/theme/styles/** linguist-vendored=false
docs/.vitepress/theme/styles/** linguist-detectable=true


