*.md linguist-vendored

docs/.vitepress/cache/** linguist-vendored
docs/.vitepress/dist/** linguist-vendored
node_modules/** linguist-vendored

*.mts linguist-detectable=true
*.mts linguist-language=TypeScript

*.js linguist-detectable=true
*.js linguist-language=JavaScript

*.css linguist-detectable=true
*.css linguist-language=CSS

*.vue linguist-detectable=true
