:root {
  --vp-c-bg: #0F172A;
  --vp-c-bg-soft: #1E293B; 
  --vp-c-bg-alt: #0F172A;


  --vp-c-brand: #3B82F6;
  --vp-c-brand-light: #60A5FA;
  --vp-c-brand-dark: #2563EB;

 
  --vp-c-text-1: #F8FAFC; 
  --vp-c-text-2: #94A3B8; 
  

  --vp-c-divider: #334155;
  --vp-c-border: #334155;
}

.VPFeature {
  background-color: var(--vp-c-bg-soft) !important;
  border: 1px solid var(--vp-c-divider) !important;
}

.VPButton.brand {
  background-color: var(--vp-c-brand) !important;
  color: #ffffff !important;
}
